@font-face {
    font-family: 'Anime Ace v05';
    src: url('./anime-ace-v05.otf') format('opentype'),
        /* Open Type Font */ url('./anime-ace-v05.svg') format('svg'),
        /* Legacy iOS */ url('./anime-ace-v05.ttf') format('truetype'),
        /* Safari, Android, iOS */ url('./anime-ace-v05.woff') format('woff'),
        /* Modern Browsers */ url('./anime-ice-v05.woff2') format('woff2'); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
}
