.title {
    color: #fff;
    font-size: 36px;
    margin-bottom: 30px;
}
.card {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    background-color: #fff;
    border-radius: 30px;

    cursor: pointer;
}
.card__title {
    font-size: 20px;
    margin-bottom: 15px;
}
.list {
    max-width: 1280px;
    display: grid;
    grid-gap: 30px;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
}

.list > .card:nth-of-type(1) {
}

.imageWrapper {
    position: relative;
    width: 100%;
    height: 400px;
    margin-bottom: 15px;
}
.card:nth-of-type(1) > article > .imageWrapper {
    position: relative;
    width: 100%;
}

.truncate_text {
    padding-top: 15px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
    margin-bottom: 20px;
}
.flex {
    display: flex;
    align-items: center;
    gap: 15px;
}
@media only screen and (max-width: 1259px) {
    .card {
        padding: 20px;
        display: flex;
    }

    .list {
        display: flex;
        flex-wrap: wrap;
    }
    .imageWrapper {
        max-width: 300px;
        margin-bottom: 15px;
        flex-shrink: 0;
        margin-right: 20px;
    }

    .card:nth-of-type(1) > article > .imageWrapper {
        position: relative;
        width: 300px;
    }
    .article {
        display: flex;
    }
    .article__about {
        flex-shrink: 1;
    }

    .truncate_text {
        padding-top: 15px;
        width: 100%;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 8;
        overflow: hidden;
        margin-bottom: 20px;
    }
}
@media only screen and (min-width: 1260px) {
    .card {
        padding: 30px;
        display: flex;

        flex-direction: column;
        justify-content: flex-start;
        background-color: #fff;
        border-radius: 30px;
    }
}
